main {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    justify-content: center;
}
  
app-square {
    height: 220px;
}

button{
    transition: all 0.5s;
}

button:hover{
    box-shadow: 2px 2px 20px red;
}